[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
keras = "*"
sklearn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "2.7"
